.App {
  text-align: left;
}

.plus{
  border-radius: 20%;
  min-width: 40px;
  min-height: 30px;
  margin: 5px;
  color: teal;
  background-color: rgb(83, 82, 83);


}
.remove{
  border-radius: 20%;
  min-width: 40px;
  min-height: 30px;
 padding-right: 10px;
 margin: 5px;
 background-color: #69c3d1;


}
.reset{
  border-radius: 20%;
  min-width: 45px;
  min-height: 34px;
  width: auto;
  background-color: #dc3545;

}
.result{
  border: solid 2px grey;
  min-width: 40px;
  min-height: 30px;
  display: inline-block;
  background-color: #ffc107;
  margin: 10px;
}



